a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
}

body {}

.burger {
        font-size: 1.2rem;
}

.content {
        border-left: 1px dashed black;
        border-right: 1px dashed black;
        margin: auto;
        padding: 2px;
        background: white;
        padding-top: 60px;
}

#btt {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: #ffcc33;
        color: #cc3333;
        cursor: pointer;
        padding: 10px;
        border-radius: 4px;
}

footer {
        clear: both;
        background: #cc3333;
	padding-top:60px
}

.nav {
        top: 0;
        left: 0px;
        position: fixed;
        width: 100%;
        /*			background-color: rgba(0,0,30,0.8);
    background-color: #cc3333cc3333cc3333cc3333d20d16;
	background-color:#000000;*/
        background-color: #cc3333;
        background: #bc1f1f;

        margin: auto;
        height: 25px;
        border-bottom: 1px solid white;
}

.buttons,
.logo {
        display: inline;
        padding-left: 10%;
}

.logo img {
        height: 50px;
        border-radius: 0 0 5px 5px;
	top:50;
}

.buttons {
        top: 0;
        float: right;
        display: inline-block;
        padding-right: 10%;
        padding-top: 3px;

}

.buttons a {
	  color: #ffcc33;
}

.buttons a:first-child {
        display: none;
}
.buttons a:hover{
        color: #ffffff;
}

article {
        width: 80%;
        float: left;
        display: inline;
        background-color: white;
}

aside {
        width: 20%;
        float: right;
        display: inline;
        padding-top: 20px;
        background: white;

}


/* for mobile devices */

@media screen and (max-width:600px) {
        .buttons a:not(:first-child) {
                width: 100%;
                display: none;
                ;
        }
        .buttons a:first-child {
                display: inline;
        }
        article {
                width: 100%;
                float: right;
                padding-top: 60px;
                display: inline;
        }

        aside {
                width: 100%;
                float: left;
                display: block;
                padding-top: 20px;
        }

}


@media screen and (max-width:600px) {
        .responsive a:not(:first-child) {
                display: block;
                padding-left: 10%;
                background: rgba(204, 51, 51, 0.5);
                background: #611818;
                background-color: #cc3333;
                color: white;
                padding-top: 0px;
                padding: 20px;

        }

        .responsive a:not(:first-child):hover {
                background: #ffcc33;
        }

        .responsive a {
                color: #cc3333;
        }
        .responsive a:first-child {
                position: absolute;
                top: 0;
                right: 0;
                padding-right: 10%;
                padding-top: 3px;
                display: block;
                border-right: 1px dashed green;
                clear: both;
                color: #fff;

        }
}

@media screen and (min-width:800px) {

        .container {
                width: 90%;
                margin: auto;
        }
}
