<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="css/master.css" type="text/css" media="screen" title="no title" charset="utf-8">
	</head>

	<body>
		<div class="container">

			<header>

				<div class="nav">

					<div class="logo">
						<a href="/"><img src="images/logo.png"></a>
					</div>

					<div class="buttons" id="navbtn">
						<a href="#"><span class="burger" onclick="unfoldfn();">&#9776;</span></a>

					<a href="/about">About</a>
					<% if (currentUser)	{ 	%> 
						<a href="/logout">Logout</a>
					<% } else { %>
						<a href="/login">Login</a>
						<a href="/signup">Signup</a>
					<% } %>
					</div>
			</header>
			<div class="content">
