<% include head %>
<h1>Sign up</h1>
<form action="/signup" method="post">
	<input name="username" type="text" class="form-control"
				    placeholder="Username" required autofocus>
	<input name="password" type="password" class="form-control"
					placeholder="Password" required>
	<input type="submit" value="Sign up" class="btn btn-primary btn-block">
</form>
<hr>
<% include foot %>
